!!! XML
!!!
%html
  %head
    %title RSSPaper
  %body
    %form{action: 'rss', method: 'get'}
      %input{type: 'text', name: 'url', placeholder: 'rss url', size: 100}
      %input{type: 'submit', value: 'Get RSSPaper'}